<!-- <h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <!-- li에게 click 이벤트를 수신 대기하도록 지시
      사용자가 클릭하면 onSelect(hero)를 실행 -->
    <!--<span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul> -->

<!-- <app-hero-detil [hero]="selectedHero"></app-hero-detail> -->

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>